* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh !important;
    max-height: 100vh !important;
    min-width: 100% !important;
    max-width: 100% !important;
}

.dashboard {
    min-height: 100vh !important;
    max-height: 100vh !important;
    min-width: 100% !important;
    max-width: 100% !important;

    &__content {
        flex:1;
        overflow-x: hidden;
    }
    &__navigation {
        flex: 220px 0;
    }
    &__header {
        flex: 50px 0;

        &--tittle {
            color: $grey-dark;
            font-size: 1.4em;
            font-weight: 500;
        }
    }

    &__container {
        flex: 1;
        overflow: hidden;
        max-width: 100% !important;
        min-width: 100%;
    }
}
