.navigation {
    padding-top: 50px;
    background-color: $white;
    border-right: 2px solid $grey;
    &__header {
        text-transform: uppercase;
        color: $grey-dark;
        font-weight: 600;
        letter-spacing: 1.3px;
        font-size: 1em;
    }
    &__list {
        list-style: none;
    }
    &__subsection {
        color: $dark;
        font-size: 1em;
        cursor: pointer;
        font-weight: 500;
        &:hover{
            color: $blue;
            font-weight: 800;
        }
    }
}
