.report {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;

    &__col {
        min-width: 165px;
        width: 165px;
        border-right: 1px solid $grey-dark;
    }

    &__row {
        &:hover * {
            background-color: $selectColor;
            cursor: pointer;
        }

        &:nth-child(2n+1) div {
            background-color: $white;
        }
        &:nth-child(2n+2) div {
            background-color: $body-bg;
        }

        &--header {
            z-index: 2;
            height: 100px;
            &.position-fixed {
                //top: 0 !important;
               // z-index: 2;
            }
        }
    }

    &__value {
        min-height: 50px !important;
        max-height: 50px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $grey-dark;
        &--double {
            min-height: 100px !important;
            max-height: 100px !important;
        }
        &--danger {
            background-color: $red !important;
        }

        &--success {
            background-color: $green !important;
        }

    }
    &__header {
        min-width: 165px;
        width: 165px;
        overflow: hidden;
        text-align: center;
        background-color: $yellow;
        min-height: 50px !important;
        max-height: 50px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        &--double {
            min-height: 100px !important;
            max-height: 100px !important;
        }

        &--global {
            background-color: #F4B083 !important;
            &--secondary {
                background-color: #FBE4D5 !important;
            }
        }
        &--google {
            background-color: #A8D08D !important;
            &--secondary {
                background-color: #E2EFD9 !important;
            }
        }
        &--facebook {
            background-color: #FFD965 !important;
            &--secondary {
                background-color: #FEF2CB !important;
            }
        }
        &--shop {
            background-color: #8EAADB !important;
            &--secondary {
                background-color: #DEEAF6 !important;
            }
            &--name {
                background-color: #FFFF00 !important;
            }
        }

    }

}
