// Body
$body-bg: rgb(236, 236, 236);

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$grey: rgb(237 237 237);
$grey-dark: #D2D2D2;
$grey-light: #f8f6f6;
$green: #B2EDC5;
$red: #cf4647;
$black-light: #2a363b;
$yellow: #fff9e0;
$selectColor: #9f9f9f;

.form-select {
    border-color: $black-light !important;
}
.form-control {
    border-color: $black-light !important;
}
